@model List<ChallengeOne.Models.Journal>
@{
    ViewData["Title"] = "Home Page";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Welcome</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
    </a>
</div>

<!-- Page Body -->
@if(Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <h4>@item.User.FirstName</h4>
        <br />
        <div class="container col-md-10">
            <iframe src="data:application/pdf;base64,@(Convert.ToBase64String(@item.File))#toolbar=0" typeof="application/pdf" class="w-100" height="500"></iframe>
        </div>
    }
}
else
{
    <p>Don't suscribe to anyone yet.</p>
}
